<h1>Admin#index</h1>


 <%= link_to "news edit" , news_index_path%>
 <%= link_to "pictures edit", pictures_path  %>
<%= link_to 'company introductions edit', company_introductions_path %>
<%= link_to 'contacts edit', contacts_path %>