#header {
    height:50px;
    margin:0 auto;
    position:relative;
    width:100%;
}

#my_content{
    text-align :center;
}

  #header_img h1 {
    background:url("/images/src/header.jpg");
    height:100px;
    text-indent:-20000px;
    width:940px;
    margin:5px 0px 5px 10px;
  }
  div.nav, div.article, div.nav ul li a, div.figure {
-moz-border-radius:10px 10px 10px 10px;
}

div.nav {
-moz-box-shadow:0 1px 1px #333333;
<%#*background:url("img/gradient_light.jpg") repeat-x scroll 50% 50% #F8F8F8;%>
<%#*border:1px solid #FCFCFC;%>
padding:0 5px;
position:absolute;
right:0;
margin-left:10px;
<%#*top:4em;%>
}
div.nav ul{
	width:100%;
	white-space:nowrap;
}
div.nav ul li a, div.nav ul li a:visited {
color:#f8b63c;
display:block;
float:left;
font-size:1.57em;
font-weight:bold;
margin:5px 2px;
padding:7px 10px 4px;
<%#*text-shadow:0 1px 1px white;%>
text-transform:uppercase;
display:inline;
}

a, a:visited {
color:#0196E3;
outline:medium none;
text-decoration:none;
}
div.nav ul li {
display:inline;
}

div.nav ul li a:hover{
  background-color:#2e2e2e;
    <%#*text-decoration:none;%>
  color:#ffff00;
}

.introduction{
  height: 180px;
	width: 940px;
	position: relative;
  background: none repeat scroll 0 0 #929292;
  margin:0px 0px 10px 10px;
}
.news, .video{
  height: 250px;
  filter:alpha(Opacity=100);-moz-opacity:0.5;opacity: 0.5;z-index:100;
  background: none repeat scroll 0 0 #929292;
  margin-top:10px;
  margin-bottom:10px;
}
.contact, .pictures{
  height: 300px;
  background: none repeat scroll 0 0 #929292;
  margin-top:10px;
  margin-bottom:10px;
}

.home_news{
  color:#a09e95;
}

#footer{
  background: none repeat scroll 0 0 #929292;
  margin-bottom:5px;
}

#content{
  min-height :350px;
}

hr{
  border-bottom: medium none;
  border-top: 1px dashed #BBBBBB;
  height: 1px;
  margin: 8px 0;
}
