<!--inclue header partial-->
<%= render :partial => "header" %>

<div id="content" class="company_introduction_details">
	<fieldset>
	<legend><span>公司简介</span></legend>
<div class="content">
<p><%= @company_introduction.content %></p>
</fieldset>
</div>
<div class="clear"></div>
        <%= render :partial => "bottom" ,:object => @contact%>

