<script type="text/javascript">
  
  createGridder = function() {
    document.body.appendChild(
    document.createElement('script'))
    .src='/javascripts/960.gridder.js';
  }
</script>
<style>
#my_content{
    text-align :center;
}

</style>

<!DOCTYPE html>
<html>
  <head>
    <title>Oiss</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <!--body  onload="createGridder()"-->
  <body>

    <div class="container_12">
      <%= yield %>
    </div>

  </body>
</html>
